<!DOCTYPE html>

<html lang="en">

<head>
  <link rel='stylesheet' href="../static/assets/css/bootstrap.css">
  <link rel='stylesheet' href="../static/assets/css/style.css">
  {% block js %}
  {% endblock %}
  <script src="../static/assets/js/jquery-1.10.1.min.js"></script>
  <script src="../static/assets/js/bootstrap-alert.js"></script>
  <title>
    {% block title %}
    {% endblock %}
  </title>
</head>


<body class="preview">
  <div id="wrap">
  

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="{{ url_for('home') }}">Package Scheduler</a>
        </div>
      </div>
    </div>


    <div class="container">
      <div class="page-header">
        <!-- Flash messages -->
        {% with message = get_flashed_messages(with_categories=true)[0] %}
            {% if message %}
            <div class="alert alert-{{ message[0] }}">
                <button href="#" type="button" class="close" data-dismiss="alert">x</button>
                {{ message[1] }}
            </div>
            {% endif %}
        {% endwith %}
      </div> <!-- end page header --> 


    {% block body %}
    {% endblock %}

        <div id="push"></div>    
    </div>  

</div> <!-- End Wrap -->

  <div id="footer">
    <div class="container">
      <p class="muted credit">
      Package Scheduler
      | A Product of <a href="http://adicu.com/">ADI</a>
      </p>
    </div>
  </div>

</body>

</html>

